.form-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #9e9d9d;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 20px 30px;
  background-color: #57677c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #a9d5f9;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
